{% extends "store/base.html" %}
{% block title %}Password Updated{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center px-4 bg-gray-50">
  <div class="w-full max-w-md bg-white p-8 shadow-md text-center space-y-5">

    <h1 class="text-3xl font-bold text-gray-800">
      Password Updated
    </h1>

    <p class="text-sm text-gray-600">
      Your password has been successfully changed.
    </p>

    <a href="{% url 'login' %}"
      class="inline-block bg-black text-white font-semibold py-3 px-6">
      Go to Login
    </a>

  </div>
</div>
{% endblock %}